<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/posts/{postId}(postId=${post.id})}" th:object="${form}">

    <div th:replace="~{post/post/form_errors :: formErrorsFragment}"></div>

    <input type="hidden" name="_method" value="PUT">
    <h2>번호 : <th:block th:text="${post.id}"></th:block></h2>
    <div>
        <label for="">제목</label>
        <div>
            <input type="text" placeholder="제목을 입력해주세요." th:field="*{title}" autoFocus>
        </div>
    </div>
    <div>
        <label for="">내용</label>
        <div>
            <textarea placeholder="내용을 입력해주세요." th:field="*{content}"></textarea>
        </div>
    </div>
    <input type="submit" value="수정 완료">
</form>
</body>
</html>